@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 8px;
  -webkit-font-smoothing: subpixel-antialiased;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  @apply bg-base font-sans text-text;
}

::selection {
  @apply bg-foam text-white/80;
}
